  <section
      class="h-screen flex flex-col align-middle justify-center"
    >
            <div id="textbox">
            <span id="text1" class="sm:text-4xl md:text-4xl text-4xl lg:text-7xl"></span>
            <span id="text2" class="sm:text-4xl md:text-4xl text-4xl lg:text-7xl"></span>

        <svg id="filters">
            <defs>
                <filter id="threshold">
                    <feColorMatrix in="SourceGraphic" type="matrix" values="1 0 0 0 0
                          0 1 0 0 0
                          0 0 1 0 0
                          0 0 0 255 -140" />
                </filter>
            </defs>
        </svg>

      </div>
      <!-- <div>
          <p class="mx-auto mt-4 max-w-xl sm:text-xl/relaxed text-white">
          Your One-stop Hub for Socials, Repos, YouTube, Instagram, Discord, and More! 🚀
        </p>
        <p class="mx-auto mt-4 max-w-xl sm:text-xl/relaxed text-white">One can access any of my establishments from this single page</p>
      
      </div> -->
    </section>