<div>
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.3.5/tailwind.css"
    rel="stylesheet"
  />

  <div class="global">
    <div class="w-embed">
      <style>
        :root {
          --app-height: 100%;
          --white: #ffffff;
          --black: #000000;
        }

        ::-webkit-scrollbar {
          width: 0px;
          display: none !important;
        }

        ::selection {
          background: var(--black);
          color: var(--white);
        }

        img::selection {
          background: none;
        }

        body {
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 0.625vw;
        }

        @media screen and (max-width: 1440px) {
          .p-med.is--clamp {
            font-size: 0.75rem;
          }
        }

        @media screen and (min-width: 1441px) {
          .p-med.is--clamp {
            font-size: 1rem;
          }
        }

        @media screen and (min-width: 1921px) {
          .p-med.is--clamp {
            font-size: 1.125rem;
          }
        }

        @media screen and (min-width: 2560px) {
          body {
            font-size: 1rem;
          }
        }

        @media screen and (max-width: 1280px) {
          .p-large {
            font-size: 1rem;
          }
        }

        @media screen and (max-width: 1360px) {
          p-med {
            font-size: 1.3125rem;
          }
        }

        a {
          color: inherit;
          text-decoration: none;
        }

        .pointer-off {
          pointer-events: none;
        }

        .nav-w.is--scrolled .nav-bg {
          height: 100%;
        }

        .nav-w.text-black .nav-bg {
          background: var(--white);
        }

        .popular-video__wrapper video {
          position: absolute;
          top: 50%;
          left: 50%;
          min-width: 100%;
          min-height: 100%;
          width: auto;
          height: auto;
          transform: translate(-50%, -50%);
        }

        .contact-footer {
          height: var(--app-height);
          pointer-events: none;
        }

        .contact-footer__inner {
          pointer-events: auto;
        }

        @media screen and (min-width: 992px) {
          html:not(.wf-design-mode) .project-item__info-w > * {
            opacity: 0;
          }
        }

        .nav-w.text-black .nav-link__line {
          background: var(--black);
        }

        [data-popular-detail] {
          opacity: 0;
        }

        .popular-detail__item:first-child [data-popular-detail] {
          opacity: 1;
        }

        .client-grid,
        .client-list__wrapper {
          height: calc(100vh - 1.25rem);
        }

        .policy-link.w--current .filter-item__line {
          width: 100% !important;
          transform: translate3d(0px, 0px, 0px) !important;
        }

        .policy-link.w--current {
          opacity: 1 !important;
        }

        .filter-item__line {
          background: currentColor;
        }

        .service-grid__item:last-of-type {
          border: none;
        }

        .filter-w__inner,
        .project-item__media-w,
        .swiper-slide.is--popular__list,
        .marquee-item {
          will-change: transform;
        }

        .w-tab-link.w--current .tab-link__circle {
          opacity: 1;
        }

        @media screen and (min-width: 1921px) {
          .logo-grid {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
          }

          .logo-grid__item.show-xl {
            display: block;
          }
        }

        .section.clip {
          overflow-x: clip;
        }

        .project-thumb__video {
          position: absolute;
          height: 100%;
          min-width: 100%;
          object-fit: cover;
        }

        .popular-thumb__item .tab-link__img {
          opacity: 0.5;
        }

        .popular-thumb__item.active .tab-link__img {
          opacity: 1;
        }

        .project-thumb__video {
          position: absolute;
          height: 100%;
        }

        .preload-trigger {
          width: 100px;
          height: 10px;
          visibility: hidden;
        }

        @media screen and (min-width: 1800px) {
          .project-item:hover {
            flex-grow: 3.13 !important;
          }
        }

        @media screen and (min-width: 2200px) {
          .project-item:hover {
            max-width: 66.7%;
            flex-grow: 3.1 !important;
            flex-basis: auto;
          }
        }
      </style>
    </div>
  </div>
  <div class="page-w">
    <main class="main-w no--footer">
      <section class="section is--work_top">
        <div class="main-c">
          <style>
            .ceck {
              opacity: 0;
              color: #000000;
              transition: all 0.4s;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }
            .Clogo {
              opacity: 0;
              height: 100px;
              transition: all 0.2s ease-in;
            }
            #backimg {
              opacity: 1;

              transition: all 0.4s;
            }
            #check:hover + #backimg {
              opacity: 0;
            }
            #check:hover > .ceck {
              opacity: 1;
            }
            #check:hover > .Clogo {
              opacity: 1;

              transform: scale(1.2);
            }
          </style>
          <div id="ContentHere" class="project-list__wrapper"></div>
        </div>
      </section>
    </main>
  </div>
</div>
