<nav
  class="backdrop-blur-sm w-full fixed z-10 p-2 transition-all ease-in border-b-2 shadow-lg border-black border-opacity-25"
>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script:wght@400;700&display=swap"
    rel="stylesheet"
  />

  <div class="container flex flex-row items-center justify-evenly">
    <div class="col-md-4 flex flex-row items-center justify-evenly">
      <img src="/Public/svgs/bb.svg" style="height: 60px" alt="" />
      <h1
        style="
          font-family: 'Caveat', cursive;
          font-family: 'Dancing Script', cursive;
          font-weight: bolder;
          font-size: 40px;
        "
      >
        Blazing Bane
      </h1>
    </div>
    <div class="col-md-8 flex-row flex flex-nowrap justify-evenly">
      <a href="#intro" title="Introduction">Who</a>
      <a href="#skills" title="Education">Skills</a>
      <a href="#connect" title="Socialmedia">Connect</a>
      <a href="#gaming" title="About my Gaming skills">Gaming</a>
    </div>
  </div>
</nav>
